

.slider {
  width: 100vw;
  height: 60vh;
}
.slider-img img {
  height:60vh;
  width: 100%;
  object-fit: cover;
}
.info-title h3{
  font-size: 1.4rem;
}

.info-box{
  margin-bottom: 5%;
}
.btn{
  width: 160px;
  margin-top: 40px;
  height: 48px;
  line-height: 48px;
}
.layout-btn{
  height: 48px;
}
.box-size{
  width: 50%;
  margin: auto;
  column-gap: 10%;
}
.layout-btn p{
  color: #f8fcfb;
  font-size: 1.2em;
  height: 48px;
  line-height: 48px;
}
.btn:hover{
  opacity: 0.6;
}
.modal-open {
  border: 0;
  background-color: #0f1d2b;
  cursor: pointer;
  width: 100%;
  border-radius: 8px;
  display: block;
}
.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  background: grey;
  opacity: .6;
  z-index: 9;
  top: 0;
  left: 0;
  right: 0;
  display: none;
}
.modal {
  width: 50%;
  height: 65%;
  border: 1px solid #000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  display: none;
  z-index: 10;
}

.modal .madori{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
}
.modal .standard{
    background-image: url(../image/standard-madori.svg);
}
.modal .suite{
    background-image: url(../image/suite-madori.svg);
}

.modal .modal-close-wrap {
  position: absolute;
  right: 40px;
  top: 20px;
  z-index: 999;
}
.modal .modal-close-wrap .modal-close {
  background: transparent;
  border-color: transparent;
  cursor: pointer;
  width: 28px;
  display: block;
  height: 28px;
}

.modal-close span {
  position: relative;
  width: 100%;
  height: 1px;
  background: black;
  display: block;
}

.modal-close span:nth-child(1) {
  transform: rotate(45deg);
}

.modal-close span:nth-child(2) {
  transform: rotate(-45deg);
}
.overlay.open {
  display: block;
}
.modal.open {
  display: block;
}
.info-text .flexbox-center{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8%;
}
.info-text span{
  width: 100px;
}
.info-box .info-text p .adjustment{
  /* width: 45%;
  display: inline-block; */
  text-align: left;
}
@media screen and (max-width: 600px) {
  .info-title h3{
    font-size: 1.1rem;
  }
  .layout-btn p{
    font-size: 0.9em;
    height: 48px;
    line-height: 48px;
  }
  .modal {
    height: 50%;
  }
}
